.container {
    width: 300px;
    max-width: 90%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.img{
    width: 300px;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;   
}

.infoContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.title{

}

.ptext{

}

.desc{

}
.btn{
    width: 150px;
    max-width: 100%;
    padding: 10px;
    margin-top: auto;
    cursor: pointer;

}

